{#
 * @file
 * FAQ List Display Pattern Twig.
#}

{% set nhash = random() %}


<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a
							data-parent="#{{ "accordion"~ nhash }}"
							data-toggle="collapse"
							class="collapsed"
							aria-expanded="false"
							href={{ "#collapse"~ nhash }} >{{ title }}
			</a>
		</h4>
	</div>
	<div class="panel-collapse collapse"
			 aria-expanded="false"
			 id={{ "collapse"~ nhash }}>
		<div class="panel-body">
			{{ body }}
		</div>
	</div>
</div>