/**
 * Styles of blocks in CERN Theme
 *
 * Includes styles of custom blocks / menu blocks / view blocks
 */
@import 'variables.scss';

$box-shadow: 0 0 2px 1px lightgrey;
$block-view-padding: 25px;

.sidebar-left, .sidebar-right{
  margin: 30px 0 0;

  .region-left, .region-right{
    h2{
      margin-bottom: 20px;
      font-size: 28px;
    }

    // Custom Blocks
    &>section, section.block.block-block-content{

      .field{
        padding: $block-view-padding;
        box-shadow: $box-shadow;
        margin-bottom: 20px;

        ul{
          margin: unset;
        }
      }
    }

    // View Blocks
    .block{
      .form-group {
        .view {

          h1 {
            display: none; // hide the view title
          }

          .view-content {
            padding: $block-view-padding;
            box-shadow: $box-shadow;
            margin-bottom: 20px;

            .views-row{
              padding: unset;

              .views-field{
                margin: 10px 0;
              }
            }
          }
        }
      }
    }

    // menu blocks under sidebars
    &>nav{ // menu wrapper
      padding: 0;

      // other menus
      &>ul.menu{
        padding: $block-view-padding;

        // first level menu
        &>li{
          margin: 0 0 10px;
          &>a{
            padding: unset;
          }
          &>ul{
            // 2nd+ levels
            li{
              a{
                // setting up arrow before links => in base it is only set for main menu
                &:before{
                  -webkit-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
                  -khtml-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
                  -moz-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
                  -ms-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
                  -o-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
                  transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
                  font-size: 36px;
                  font-size: 3.6rem;
                  content: '\j';
                  float: left;
                  font-family: 'cern-icons';
                  display: block;
                  top: -10px;
                  left: -12px;
                  position: absolute;
                  transform: rotate(0deg);
                }

                &:hover{
                  &:before{
                    left: -4px;
                  }
                }
              }
            }

          }
        }


      }

      // only main menu
      nav.navbar{
        margin-bottom: 30px;
        padding: 0;

        &.navbar.main-menu{
          &>.container-fluid{

            // fixes issue of main menu when placed on sidebars
            &>.navbar-header{
              display: none;
            }

            // fixes issue of main menu when placed on sidebars
            &>.collapse{
              display: block;
            }
          }


        }

        &.main-menu{
          background-color: transparent;
          border-color: transparent;

          ul{

            &.navbar-nav{
              float: none;
              padding: $block-view-padding;
              // 1st level menu items
              >li{
                > a{
                  padding: unset;
                  line-height: inherit;
                }
              }
            }

            &.dropdown-menu{
              display: block;
            }

            .caret{
              display: none;
            }

            a{
              white-space: normal;
            }
          }

        }

        &>h2{
          margin-bottom: 30px;
        }

        &>ul{
          padding: $block-view-padding;

          &.dropdown-menu{
            padding: 0;
          }
        }

        ul:not(.contextual-links) {
          list-style: none;
          margin: 0;

          li {
            @include font-size(1.6);
            font-family: 'opensans-regular';
            margin: 0 0 10px;
            float: unset;
            a {
              display: inline-block;
              //padding: 5px 0 8px 20px;
              position: relative;

              .caret{
                display: none;
              }

              &:hover,
              &:focus {
                text-decoration: none;
              }

              &:after {
                -webkit-transition: all 0.6s ease-in-out 0s;
                -khtml-transition: all 0.6s ease-in-out 0s;
                -moz-transition: all 0.6s ease-in-out 0s;
                -ms-transition: all 0.6s ease-in-out 0s;
                -o-transition: all 0.6s ease-in-out 0s;
                transition: all 0.6s ease-in-out 0s;
                background: transparent;
                border-bottom: 2px solid;
                content: '';
                display: block;
                height: 2px;
                width: 0%;
                position: absolute;
                left: 0;
                margin: 0 0 0 20px;
                max-width: calc(100% - 20px);
              }

              &:hover,
              &.is-active {
                background: none;
                &:before {
                  left: -4px;
                }
                &:after {
                  width: 100%;
                }
              }
            }
            ul {
              display: block;
              margin: 5px 0 0;
              li {
                @include font-size(1.6);
                font-family: 'sourcesans-light';
                margin: 0;
                padding: 5px 0px 5px 20px;
                a {
                  display: inline-block;
                  //padding: 5px 0 8px 20px;
                  position: relative;
                  &:before {
                    @include transition(color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s);
                    @include font-size(3.6);
                    content: '\j';
                    float: left;
                    font-family: 'cern-icons';
                    display: block;
                    top: -10px;
                    left: -12px;
                    position: absolute;
                    transform: rotate(0deg);

                  }
                  &:after {
                    @include transition(all 0.6s ease-in-out 0s);
                    background: transparent;
                    border-bottom: 2px solid;
                    content: '';
                    display: block;
                    height: 2px;
                    width: 0%;
                    position: absolute;
                    bottom: 3px;
                    left: 0;
                    margin: 0 0 0 20px;
                    max-width: calc(100% - 20px);
                  }
                  &:hover,
                  &.is-active {
                    background: none;
                    &:before {
                      left: -4px;
                    }
                    &:after {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

footer{
  .field--name-field-visible-title{
    display: none;
  }
}