/**
 * Styles of blocks in CERN Theme
 *
 * Includes styles of custom blocks / menu blocks / view blocks
 */
.sidebar-left, .sidebar-right {
  margin: 30px 0 0; }
  .sidebar-left .region-left h2, .sidebar-left .region-right h2, .sidebar-right .region-left h2, .sidebar-right .region-right h2 {
    margin-bottom: 20px;
    font-size: 28px; }
  .sidebar-left .region-left > section .field, .sidebar-left .region-left section.block.block-block-content .field, .sidebar-left .region-right > section .field, .sidebar-left .region-right section.block.block-block-content .field, .sidebar-right .region-left > section .field, .sidebar-right .region-left section.block.block-block-content .field, .sidebar-right .region-right > section .field, .sidebar-right .region-right section.block.block-block-content .field {
    padding: 25px;
    box-shadow: 0 0 2px 1px lightgrey;
    margin-bottom: 20px; }
    .sidebar-left .region-left > section .field ul, .sidebar-left .region-left section.block.block-block-content .field ul, .sidebar-left .region-right > section .field ul, .sidebar-left .region-right section.block.block-block-content .field ul, .sidebar-right .region-left > section .field ul, .sidebar-right .region-left section.block.block-block-content .field ul, .sidebar-right .region-right > section .field ul, .sidebar-right .region-right section.block.block-block-content .field ul {
      margin: unset; }
  .sidebar-left .region-left .block .form-group .view h1, .sidebar-left .region-right .block .form-group .view h1, .sidebar-right .region-left .block .form-group .view h1, .sidebar-right .region-right .block .form-group .view h1 {
    display: none; }
  .sidebar-left .region-left .block .form-group .view .view-content, .sidebar-left .region-right .block .form-group .view .view-content, .sidebar-right .region-left .block .form-group .view .view-content, .sidebar-right .region-right .block .form-group .view .view-content {
    padding: 25px;
    box-shadow: 0 0 2px 1px lightgrey;
    margin-bottom: 20px; }
    .sidebar-left .region-left .block .form-group .view .view-content .views-row, .sidebar-left .region-right .block .form-group .view .view-content .views-row, .sidebar-right .region-left .block .form-group .view .view-content .views-row, .sidebar-right .region-right .block .form-group .view .view-content .views-row {
      padding: unset; }
      .sidebar-left .region-left .block .form-group .view .view-content .views-row .views-field, .sidebar-left .region-right .block .form-group .view .view-content .views-row .views-field, .sidebar-right .region-left .block .form-group .view .view-content .views-row .views-field, .sidebar-right .region-right .block .form-group .view .view-content .views-row .views-field {
        margin: 10px 0; }
  .sidebar-left .region-left > nav, .sidebar-left .region-right > nav, .sidebar-right .region-left > nav, .sidebar-right .region-right > nav {
    padding: 0; }
    .sidebar-left .region-left > nav > ul.menu, .sidebar-left .region-right > nav > ul.menu, .sidebar-right .region-left > nav > ul.menu, .sidebar-right .region-right > nav > ul.menu {
      padding: 25px; }
      .sidebar-left .region-left > nav > ul.menu > li, .sidebar-left .region-right > nav > ul.menu > li, .sidebar-right .region-left > nav > ul.menu > li, .sidebar-right .region-right > nav > ul.menu > li {
        margin: 0 0 10px; }
        .sidebar-left .region-left > nav > ul.menu > li > a, .sidebar-left .region-right > nav > ul.menu > li > a, .sidebar-right .region-left > nav > ul.menu > li > a, .sidebar-right .region-right > nav > ul.menu > li > a {
          padding: unset; }
        .sidebar-left .region-left > nav > ul.menu > li > ul li a:before, .sidebar-left .region-right > nav > ul.menu > li > ul li a:before, .sidebar-right .region-left > nav > ul.menu > li > ul li a:before, .sidebar-right .region-right > nav > ul.menu > li > ul li a:before {
          -webkit-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
          -khtml-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
          -moz-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
          -ms-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
          -o-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
          transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
          font-size: 36px;
          font-size: 3.6rem;
          content: '\j';
          float: left;
          font-family: 'cern-icons';
          display: block;
          top: -10px;
          left: -12px;
          position: absolute;
          transform: rotate(0deg); }
        .sidebar-left .region-left > nav > ul.menu > li > ul li a:hover:before, .sidebar-left .region-right > nav > ul.menu > li > ul li a:hover:before, .sidebar-right .region-left > nav > ul.menu > li > ul li a:hover:before, .sidebar-right .region-right > nav > ul.menu > li > ul li a:hover:before {
          left: -4px; }
    .sidebar-left .region-left > nav nav.navbar, .sidebar-left .region-right > nav nav.navbar, .sidebar-right .region-left > nav nav.navbar, .sidebar-right .region-right > nav nav.navbar {
      margin-bottom: 30px;
      padding: 0; }
      .sidebar-left .region-left > nav nav.navbar.navbar.main-menu > .container-fluid > .navbar-header, .sidebar-left .region-right > nav nav.navbar.navbar.main-menu > .container-fluid > .navbar-header, .sidebar-right .region-left > nav nav.navbar.navbar.main-menu > .container-fluid > .navbar-header, .sidebar-right .region-right > nav nav.navbar.navbar.main-menu > .container-fluid > .navbar-header {
        display: none; }
      .sidebar-left .region-left > nav nav.navbar.navbar.main-menu > .container-fluid > .collapse, .sidebar-left .region-right > nav nav.navbar.navbar.main-menu > .container-fluid > .collapse, .sidebar-right .region-left > nav nav.navbar.navbar.main-menu > .container-fluid > .collapse, .sidebar-right .region-right > nav nav.navbar.navbar.main-menu > .container-fluid > .collapse {
        display: block; }
      .sidebar-left .region-left > nav nav.navbar.main-menu, .sidebar-left .region-right > nav nav.navbar.main-menu, .sidebar-right .region-left > nav nav.navbar.main-menu, .sidebar-right .region-right > nav nav.navbar.main-menu {
        background-color: transparent;
        border-color: transparent; }
        .sidebar-left .region-left > nav nav.navbar.main-menu ul.navbar-nav, .sidebar-left .region-right > nav nav.navbar.main-menu ul.navbar-nav, .sidebar-right .region-left > nav nav.navbar.main-menu ul.navbar-nav, .sidebar-right .region-right > nav nav.navbar.main-menu ul.navbar-nav {
          float: none;
          padding: 25px; }
          .sidebar-left .region-left > nav nav.navbar.main-menu ul.navbar-nav > li > a, .sidebar-left .region-right > nav nav.navbar.main-menu ul.navbar-nav > li > a, .sidebar-right .region-left > nav nav.navbar.main-menu ul.navbar-nav > li > a, .sidebar-right .region-right > nav nav.navbar.main-menu ul.navbar-nav > li > a {
            padding: unset;
            line-height: inherit; }
        .sidebar-left .region-left > nav nav.navbar.main-menu ul.dropdown-menu, .sidebar-left .region-right > nav nav.navbar.main-menu ul.dropdown-menu, .sidebar-right .region-left > nav nav.navbar.main-menu ul.dropdown-menu, .sidebar-right .region-right > nav nav.navbar.main-menu ul.dropdown-menu {
          display: block; }
        .sidebar-left .region-left > nav nav.navbar.main-menu ul .caret, .sidebar-left .region-right > nav nav.navbar.main-menu ul .caret, .sidebar-right .region-left > nav nav.navbar.main-menu ul .caret, .sidebar-right .region-right > nav nav.navbar.main-menu ul .caret {
          display: none; }
        .sidebar-left .region-left > nav nav.navbar.main-menu ul a, .sidebar-left .region-right > nav nav.navbar.main-menu ul a, .sidebar-right .region-left > nav nav.navbar.main-menu ul a, .sidebar-right .region-right > nav nav.navbar.main-menu ul a {
          white-space: normal; }
      .sidebar-left .region-left > nav nav.navbar > h2, .sidebar-left .region-right > nav nav.navbar > h2, .sidebar-right .region-left > nav nav.navbar > h2, .sidebar-right .region-right > nav nav.navbar > h2 {
        margin-bottom: 30px; }
      .sidebar-left .region-left > nav nav.navbar > ul, .sidebar-left .region-right > nav nav.navbar > ul, .sidebar-right .region-left > nav nav.navbar > ul, .sidebar-right .region-right > nav nav.navbar > ul {
        padding: 25px; }
        .sidebar-left .region-left > nav nav.navbar > ul.dropdown-menu, .sidebar-left .region-right > nav nav.navbar > ul.dropdown-menu, .sidebar-right .region-left > nav nav.navbar > ul.dropdown-menu, .sidebar-right .region-right > nav nav.navbar > ul.dropdown-menu {
          padding: 0; }
      .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links), .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links), .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links), .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) {
        list-style: none;
        margin: 0; }
        .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li {
          font-size: 16px;
          font-size: 1.6rem;
          font-family: 'opensans-regular';
          margin: 0 0 10px;
          float: unset; }
          .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li a, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li a, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li a, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li a {
            display: inline-block;
            position: relative; }
            .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li a .caret, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li a .caret, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li a .caret, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li a .caret {
              display: none; }
            .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li a:hover, .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li a:focus, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li a:hover, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li a:focus, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li a:hover, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li a:focus, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li a:hover, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li a:focus {
              text-decoration: none; }
            .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li a:after, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li a:after, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li a:after, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li a:after {
              -webkit-transition: all 0.6s ease-in-out 0s;
              -khtml-transition: all 0.6s ease-in-out 0s;
              -moz-transition: all 0.6s ease-in-out 0s;
              -ms-transition: all 0.6s ease-in-out 0s;
              -o-transition: all 0.6s ease-in-out 0s;
              transition: all 0.6s ease-in-out 0s;
              background: transparent;
              border-bottom: 2px solid;
              content: '';
              display: block;
              height: 2px;
              width: 0%;
              position: absolute;
              left: 0;
              margin: 0 0 0 20px;
              max-width: calc(100% - 20px); }
            .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li a:hover, .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li a.is-active, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li a:hover, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li a.is-active, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li a:hover, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li a.is-active, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li a:hover, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li a.is-active {
              background: none; }
              .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li a:hover:before, .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li a.is-active:before, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li a:hover:before, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li a.is-active:before, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li a:hover:before, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li a.is-active:before, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li a:hover:before, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li a.is-active:before {
                left: -4px; }
              .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li a:hover:after, .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li a.is-active:after, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li a:hover:after, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li a.is-active:after, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li a:hover:after, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li a.is-active:after, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li a:hover:after, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li a.is-active:after {
                width: 100%; }
          .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li ul, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li ul, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li ul, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li ul {
            display: block;
            margin: 5px 0 0; }
            .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li ul li, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li ul li, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li ul li, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li ul li {
              font-size: 16px;
              font-size: 1.6rem;
              font-family: 'sourcesans-light';
              margin: 0;
              padding: 5px 0px 5px 20px; }
              .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a {
                display: inline-block;
                position: relative; }
                .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a:before, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a:before, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a:before, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a:before {
                  -webkit-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
                  -khtml-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
                  -moz-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
                  -ms-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
                  -o-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
                  transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
                  font-size: 36px;
                  font-size: 3.6rem;
                  content: '\j';
                  float: left;
                  font-family: 'cern-icons';
                  display: block;
                  top: -10px;
                  left: -12px;
                  position: absolute;
                  transform: rotate(0deg); }
                .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a:after, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a:after, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a:after, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a:after {
                  -webkit-transition: all 0.6s ease-in-out 0s;
                  -khtml-transition: all 0.6s ease-in-out 0s;
                  -moz-transition: all 0.6s ease-in-out 0s;
                  -ms-transition: all 0.6s ease-in-out 0s;
                  -o-transition: all 0.6s ease-in-out 0s;
                  transition: all 0.6s ease-in-out 0s;
                  background: transparent;
                  border-bottom: 2px solid;
                  content: '';
                  display: block;
                  height: 2px;
                  width: 0%;
                  position: absolute;
                  bottom: 3px;
                  left: 0;
                  margin: 0 0 0 20px;
                  max-width: calc(100% - 20px); }
                .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a:hover, .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a.is-active, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a:hover, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a.is-active, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a:hover, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a.is-active, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a:hover, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a.is-active {
                  background: none; }
                  .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a:hover:before, .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a.is-active:before, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a:hover:before, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a.is-active:before, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a:hover:before, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a.is-active:before, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a:hover:before, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a.is-active:before {
                    left: -4px; }
                  .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a:hover:after, .sidebar-left .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a.is-active:after, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a:hover:after, .sidebar-left .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a.is-active:after, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a:hover:after, .sidebar-right .region-left > nav nav.navbar ul:not(.contextual-links) li ul li a.is-active:after, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a:hover:after, .sidebar-right .region-right > nav nav.navbar ul:not(.contextual-links) li ul li a.is-active:after {
                    width: 100%; }

footer .field--name-field-visible-title {
  display: none; }

/*# sourceMappingURL=blocks.css.map */
